<tr>
  <td> <%= response.survey.question %> </td>
  <td> <%= response.survey.survey_pin %> </td>
  <td> <%= response.entry %> </td>
  <td> <%= response.cleaned_entry %> </td>
  <td> <%= link_to "View", response.survey, class: "btn btn-large btn-primary"  %> </td>
  <% if current_user.admin? or current_user == response.user %>
    <td> <%= link_to "Edit", response.survey, class: "btn btn-large btn-danger"  %> </td>
  <% end %>
</tr>

