<tr>
  <td> <%= survey.question %> </td>
  <td> <%= survey.survey_pin %> </td>
  <td> <%= survey.is_public %> </td>
  <td> <%= survey.closing_time %> </td>
  <td> <%= link_to "View", survey, class: "btn btn-large btn-primary"  %> </td>
</tr>
