<div class="container">
  <h1>Survey</h1>
  <h2> <%= @survey.question %> </h2>
  <%= form_tag survey_path + "/input" do   %>

  <%= label_tag :response %>
  <%= text_field_tag :entry, params[:entry] %>
  <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
  
  <% end %>
</div>
