<% sorted_word_counts = @word_counts.sort {|a,b| @word_counts[b] <=> @word_counts[a]} %>
<script type="text/javascript">
      /*!
       * Create an array of word objects, each representing a word in the cloud
       */
      var word_array = [
      <%= raw(sorted_word_counts.map {| word,count | "{text: \"#{word}\", weight: \"#{count}\"}" }.join(",")) %>
      ];

      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#wordcloud").jQCloud(word_array);
      });
</script>

<div class="container" >
  <h2> Survey Question: </h2>
  <!-- TODO put word cloud here -->
  <h3> <%= @survey.question %> </h3>
  <p>
    <!-- You should explicitly specify the dimensions of the container element -->
    <div id="wordcloud" style="width: 550px; height: 350px;"></div>

  <p>
  <h4>Word Counts</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
	<th scope="col">Rank</th>
	<th scope="col">Word</th>
	<th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      <% sorted_word_counts.first(10).each_with_index do | word_count,pos | %>
      <tr>
	<th scope="row"><%= pos + 1 %></th>
	<td><%= word_count.first %></td>
	<td><%= word_count.last %></td>
      </tr>
      <% end %>
    </tbody>
  </table>      
  <%= link_to 'Add input', survey_path + "/input", :class => "btn btn-default btn-primary" %> 
</div>
