
<script type="text/javascript">
      /*!
       * Create an array of word objects, each representing a word in the cloud
       */
      var word_array = [
      <%= raw(@word_counts.map {| word,count | "{text: \"#{word}\", weight: \"#{count}\"}" }.join(",")) %>
      ];

      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#wordcloud").jQCloud(word_array);
      });
</script>

<div class="container" >
  <h3> Survey <i> <%= @survey.survey_pin %> </i></h3>
  <!-- TODO put word cloud here -->
  <h2> <%= @survey.question %> </h2>
  <p>
    <!-- You should explicitly specify the dimensions of the container element -->
    <% if @survey.responses.length > 0 %>
    <div id="wordcloud" style="width: 550px; height: 350px;"></div>
   
  <p>
  <h4>Word Counts</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
	<th scope="col">Rank</th>
	<th scope="col">Word</th>
	<th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      <% sorted_words = @word_counts.keys.sort {|a,b| @word_counts[b] <=> @word_counts[a]} %>
      <% sorted_words.first(10).each_with_index do | word,pos | %>
      <tr>
	<th scope="row"><%= pos + 1 %></th>
	<td><%= word %></td>
	<td><%= @word_counts[word] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
   <% else %>
    <h3> <i> No responses yet. </i> </h3>
    <% end %>
    <% if  @survey.closing_time > Time.now %>

    <!-- original kludge
    <%= link_to 'Add input', survey_path + "/input", :class => "btn btn-default btn-primary" %>
    -->
    
    <%= link_to 'Add input', new_survey_response_path(@survey), :class => "btn btn-default btn-primary" %>
    <% end %>

    <% if  signed_in? and current_user.admin? %>
    <%= link_to 'Edit Survey', edit_survey_path, :class => "btn btn-default btn-primary" %>
    
    <%= link_to 'All Responses', survey_responses_path(@survey), :class => "btn btn-default btn-primary" %>
    <% end %>

</div>
