<!DOCTYPE html>
<html>
  <head>
    <title>Wordcloud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WordCloud </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- these two ways of linking weren't compatible with saving code and switching between them -->
        <li><%= link_to "New Survey", new_survey_path %>  </li>
	<li><%= link_to "Find Survey", search_path %>  </li>

	<% if signed_in? %>
        <li>
          <%= link_to "Profile/Signout", current_user %>
        </li>
        <% else %>
        <li>
          <%= link_to "Login/Signup", new_user_session_path %>
        </li>
        <% end %>
        <!-- < if current_user && current_user.admin? >
        <li>
          < link_to "Admin", admin_path >
        </li> -->
	

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    <% flash.each do |key, value| %>
    <div id="flash_message", class="alert <%= bootstrap_class_for(key) %>"><%= value %></div>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
